.sample-actions
  = link_to "Add sample", new_sample_path

- unless @samples.empty?
  %table.samples
    %thead
      %tr
        %th Taken on
        %th TSH
        %th T3
        %th T4
        %th.actions-column Actions
    %tbody
      - @samples.each do |sample|
        = render :partial => 'sample', :locals => { :sample => sample }
