/* Variables */
$background: #fafafa;
$headerBackground: #073642;
$headerHeight: 50px;
$headerTextColor: #839496;

$navbarBackground : $headerBackground;
$navbarBackgroundHighlight: darken($headerBackground, 2%);
$navbarText : $headerTextColor;
$navbarLinkColor: $headerTextColor;
$navbarLinkColorHover: #FFF;
$navbarLinkBackgroundHover : lighten($headerBackground, 2%);
$navbarHeight : $headerHeight;

@import "bootstrap";

.container {
  @include box-shadow(0 0 10px #888);
}

#header {
  @extend .navbar;

  .header-logo {
    @extend .brand;

    text-shadow: #444 1px 1px 1px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20pt;

    color: $headerTextColor;

    &:hover {
      color: $white;
      text-decoration: none;
    }
  }

  #header-navigation {

    #inner-navigation {
      @extend .navbar-inner;

      ul {
        @extend .nav;

        li {
          a {
            color: $headerTextColor;
            font-weight: bold;

            &:hover {
/*              background-color: lighten($headerBackground, 5%); */
            }
          }
        }
      }
    }
  }

  #header-signin {
    form {
      @extend .navbar-form;
      @extend .pull-right;

      input {
        @extend .btn;
      }
    }
  }

  #header-signout {
    @extend .pull-right;

    p {
      @extend .navbar-text;

      a {
        color: $white;
        display: inline;

        &:hover {
          color: $headerTextColor;
        }
      }
    }
  }
}

#content {
  padding: 20px 5px 5px 5px;
  background-color: $background;
}

#footer {
  @extend .row;

  float: none;
  text-align: center;
  padding-top: 15px;

  ul {
    @extend .unstyled;

    li {
      @extend .span1;
      display: inline-block;
    }
  }
}
