// Place all the styles related to the Samples controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

.samples {
  @extend .table, .table-striped, .table-bordered;

  .actions-column {
    @extend .span2;
  }
}

.sample {
  a.sample-details {
    @extend .btn, .btn-info;
  }

  a.sample-delete {
    @extend .btn, .btn-danger;
  }

  h4 {
    display: inline;
  }

  .sample-actions {
    padding-top: 1em;
  }
}

.sample-actions {
  padding-bottom: 1em;

  a {
    @extend .btn;
  }
}
