#header
  #header-logo
    %span= link_to "Thyracker", root_path
  #header-navigation
    #inner-navigation
      %ul
        %li= link_to "Samples", samples_path
        %li= link_to "Charts", charts_path
